.list {
  background: #f3f3f3;
  margin: 2rem;
  padding: 1rem;
  width: 80vw;
  border-radius: 10px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  border: 2px solid rgb(141, 141, 214);
  margin: 0.8rem;
  padding: 0.5rem;
}
